<div class="container-xl mb-5">
    <div class="text-center border-bottom mb-3 pb-3"><h2>{{tittle_page}}</h2></div>
    <div class="row g-4">
        <div class="col-md-3">
            <div class="card border-light shadow-lg p-3 bg-body rounded" style="height: 100%;">
                <div class="card-body">
                    <h5 class="card-title">filtros</h5>
                    <div>
                        <label for=""></label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Ciudades</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card border-light shadow-lg p-3 bg-body rounded" style="height: 100%;">
                <app-list-items></app-list-items>
            </div>
        </div>
    </div>

</div>

