<div class="row g-0">
    <div class="col">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-around align-items-center mb-3">
                    <p class="m-0">Controles Inteligentes</p>
                    <p class="m-0">Controles@gmail.com</p>
                    <p class="m-0">314256897</p>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Eliminar</a></li>
                            <li><a class="dropdown-item" href="#">Actualizar</a></li>
                        </ul>
                    </div>

                </li>
                <li class="list-group-item d-flex justify-content-around align-items-center mb-3">
                    <p class="m-0">Controles Inteligentes</p>
                    <p class="m-0">Controles@gmail.com</p>
                    <p class="m-0">314256897</p>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Eliminar</a></li>
                            <li><a class="dropdown-item" href="#">Actualizar</a></li>
                        </ul>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-around align-items-center mb-3">
                    <p class="m-0">Controles Inteligentes</p>
                    <p class="m-0">Controles@gmail.com</p>
                    <p class="m-0">314256897</p>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Eliminar</a></li>
                            <li><a class="dropdown-item" href="#">Actualizar</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
