<app-nav-bar></app-nav-bar>
<div class="container-xxl mb-5">
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card border-light shadow-lg p-3 bg-body rounded" style="height: 100%;">
                <img src="assets/imgs/img-organization.jpg" class="img-fluid rounded-start" alt="">
                <p class="card-text"><small class="text-muted"><a class="text-muted" href="https://www.freepik.es/vector-gratis/ilustracion-concepto-gestion-tiempo_8961432.htm#query=organization&from_query=organizations&position=2&from_view=search&track=sph">Imagen de storyset</a></small></p>
                <div class="card-body">
                    <h5 class="card-title">Nueva Organización</h5>
                    <p class="card-text">Agrega Nuevas Organizaciones al Governador</p>
                    <button type="button" class="btn btn-warning d-block p-2" style="width: 100%;">Crear</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-light shadow-lg p-3 bg-body rounded" style="height: 100%;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">estadisticas</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card border-light shadow-lg bg-body rounded" style="height: 100%;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/imgs/img-users.jpg" class="img-fluid rounded-start" alt="">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nuevo Usuario</h5>
                      <p class="card-text">Crea un nuevo usuario al Governador</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      <button type="button" class="btn btn-warning d-block p-2" style="width: 100%;">Crear</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card border-light shadow-lg bg-body rounded" style="height: 100%;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/imgs/img-devices.jpg" class="img-fluid rounded-start" alt="">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nuevo Dispositivo</h5>
                      <p class="card-text">Crea un nuevo Dispositivo</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      <button type="button" class="btn btn-warning d-block p-2" style="width: 100%;">Crear</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

  
